$main_color:#409eff; // 主色调
$main_bg:#FFFFFF; // 主色调
$main_border_color: #CECECE;
$padding: 16px;
$header_height: 60px;
$footer_height: 80px;
$content_width: 1080px;
$page_padding: 30px;

:export {
  padding: $padding;
  main_color: $main_color;
  main_border_color: $main_border_color;
  header_height: $header_height;
  footer_height: $footer_height;
  main_bg: $main_bg;
  content_width: $content_width;
  page_padding: $page_padding;
}